@import url("https://fonts.googleapis.com/css2?family=Lato&family=Work+Sans&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  @apply font-work-sans;
}
/* hide scrollbar */
.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.hide-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

/* decrease the width and style of default scrollbar */
.scrollbar-md::-webkit-scrollbar {
  @apply w-2;
}

.scrollbar-md::-webkit-scrollbar-thumb {
  @apply bg-neutral-400;
}
